/* Importação de Fonte */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #ffffff;
}

body {
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* ------ Estilo Cabeçalho ------ */

header {
    margin: 2em auto;
}

.page-logo {
    width: 130px;
}

/* .alura-logo {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
} */

.duvidas {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.duvidas-flutuante {
    position: absolute;
    display: none;

    padding: 1em;
    width: 20%;
    top: 40px;
    right: 10px;

    text-align: left;
    color: #000000;

    background-color: #eee8e8;
    border-radius: 1em;
}

.duvidas-flutuante span {
    color: #000000;
    font-weight: bold;
}

.duvidas:hover ~.duvidas-flutuante {
    display: inline;
}

/* ------ Estilo Formulário de Cadastro ------ */

.container {
    padding-bottom: 20px;
}

.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 20em;
    color: #000000;
}

.form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer; /* Muda o mouse para a mãozinha */
    transition: 0.3s;
}

.form-wrapper button:hover {
    opacity: 0.6;
}

.duvidas {
    font-size: 1.3em;
    vertical-align: middle;
    color: #FFFFFF;
}

/* ------ Estilo Lista de Filmes ------ */

#listaFilmes img {
    margin: 10px;
    height: 250px;
    max-width: 250px;
    object-fit: cover; /* Redimensiona a imagem para preencher o espaço disponível, mantendo proporções */
}

figure {
    display: inline-block;
    margin: 0 auto 20px;
    transition: 0.3s;
}

figure:hover {
    scale: 1.1;
}

figure > img {
    margin: auto 5px
}

.remover {
    vertical-align: middle;
    margin-left: 10px;
    border: solid 2px rgb(139, 55, 55);
    color: rgb(214, 61, 61);
    cursor: pointer;
    scale: 0.7;
    transition: 0.3s;
}

.remover:hover {
    scale: 1;
}

/* Responsividade */

@media (max-width: 450px) {
    .duvidas-flutuante {
        width: 60%;
    }

    #listaFilmes img {
        margin: 10px;
        height: 220px;
        max-width: 220px;
        object-fit: cover; /* Redimensiona a imagem para preencher o espaço disponível, mantendo proporções */
    }

    #listaFilmes figcaption {
        font-size: 0.8em;
    }
}